.home__main{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 20px;
}

.month_expense_section{
    box-shadow: rgba(0,0,0,0.2) 5px 5px 10px -2px;
}

.week_expense_section{  
    box-shadow: rgba(0,0,0,0.2) 5px 5px 10px -2px;
}

.expense_right_section{
    box-shadow: rgba(0,0,0,0.2) 5px 5px 10px -2px;
    max-width: 400px;
    min-width: 320px;
}

.donut_container{
    width: 300px;
    height: 300px;
}

.expense_right_section_top select{
    border: 2px solid #005FE4;
}

.expense_right_section_top select:focus{
    outline: none;
}

.subcat_filters button{
    background-color: #fff;
    border: 1px solid #005FE4;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.add_expense_section button{
     background-color: #005FE4;
}

.add_expense_section button i{
    font-weight: 500;
    font-size: 24px;
}

.add_expense_container{
    z-index: 500;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #6B7280BF;
}

.no_login{
    height: 100vh;
    color: #6B7280BF;
}
.no_login p{
    font-size: 30px;
    font-weight: 700;
}
.no_login i{
    font-size: 250px;
}


/* Screen size <= 768px (Mobile Phones)*/
@media (max-width: 768px) {
    .month_expense_section{
        width: 320px;
    }
    
    .week_expense_section{  
        width: 320px;
    }
    
    .expense_right_section{
        width: 320px;
    }
    .donut_container{
        width: 200px;
        height: 200px;
    }
}