.header__main{
    background-color: #fff;
   position: sticky;
   top: 0;
   z-index: 100;
}
.user_tooltip{
    background-color: rgba(250,250,250);
}
.user_img:hover + .user_tooltip {
    opacity: 1;
    pointer-events: auto;
}